<html>
    <head>
        <title>
          weather details of user's location
        </title>
    </head>
    <body>
       
                 <h2>Weather of <span><%=weather_detail[0]%><span></h2>
                 <h2>Temperature : <span><%=weather_detail[2]%><span></h2>
                 <h2>Sky Conditions : <span><%=weather_detail[1]%><span></h2>
                <h2>Wind Speed : <span><%=weather_detail[3]%><span></h2>
           
    </body>
</html>