

<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        search location
    </title>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet"href="./css/search.css">
</head >

<body>
  <div class="container-fluid">
    <h1>Search location for weather </h1>
    <section class="main">
      <section class="inputs">
        <form action='/city-weather' method="POST">
        <input type="text" name="city" placeholder="Enter any city..." id="cityinput">
        <input type="submit" value="Submit" id="add">
        </form>
        <!--  -->
        <!-- <a href=""><button placeholder="submit" id="add"></button></a> -->
      </section>
      
      
    </section>

  </div>
   <!-- <script type="text/javascript" src="/js/seadrch.js"></script>  -->
</body>

</html>

         
